<h1>Add a new city</h1>
<form action="/cities" method="post">
  <label for="city-description">City description:</label>
  <input id="city-description" name="city-description" type="text">
  <button type="submit">Add new city</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/cities">View all cities</a></p>
