<h1>To Do List</h1>
<h2>Add new category</h2>
<hr />
<form action="/cities" method="post">
  <label for="city-name">City:</label>
  <input id="city-name" name="city-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
