<h1>Add a new item</h1>
<form action="/flights" method="post">

  <label for="flight-city">City:</label>
  <input id="flight-city" name="flight-city" type="text">

  <label for="flight-deptTime">Departure Time:</label>
  <input id="flight-deptTime" name="flight-deptTime" type="text">


  <label for="flight-deptCity">Departure City:</label>
  <input id="flight-deptCity" name="flight-deptCity" type="text">

  <label for="flight-arrCity">Departure City:</label>
  <input id="flight-arrCity" name="flight-arrCity" type="text">

  <label for="flight-status">Departure City:</label>
  <input id="flight-status" name="flight-status" type="text">

  <button type="submit">Add new item</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/flights">View all items</a></p>
