<h1>Airline Planner</h1>
<h2>Add new flight</h2>
<hr />
<form action="/flights" method="post">
  <label for="flight-name">Flight name:</label>
  <input id="flight-name" name="flight-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
